@use "../../1-helpers/functions";

#offcanvas {
	.ct-panel-content-inner {
		// --margin: 20px 0;
		--margin: 0 0 20px 0;

		> * {
			margin: var(--margin);

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	[data-device="desktop"] {
		@include functions.media-breakpoint-down(md) {
			display: none;
		}
	}

	[data-device="mobile"] {
		@include functions.media-breakpoint-up(lg) {
			display: none;
		}
	}
}
