// builder panel
$panel-height: 302px;
$panel-bar-height: 46px;
$panel-placement-height: $panel-height - $panel-bar-height;

// builder items
$builder-item-width: 120px;
$builder-item-height: 37px;
$builder-items-spacing: 8px;

