@use "../../../1-helpers/functions";

.showcoupon {
	padding-left: 5px;
	text-decoration: underline;
}

.checkout_coupon {
	margin-bottom: 2rem;
	border-bottom: 1px dashed rgba(224, 229, 235, 0.8);

	.form-row {
		@include functions.media-breakpoint-up (md) {
			width: 49%;
			margin-bottom: 2rem;
		}
	}

	// .button {
	// 	width: 100%;
	// 	min-width: 100%;
	// }
}