@use 'product-addons';
@use 'payment-gateways';
@use 'product-table';
@use 'composite-products';
@use 'mercado-pago';
@use 'smart-coupons';
@use 'cart-flows';
@use 'fast-cart';
@use 'sellkit';
@use 'woocommerce-germanized';
@use 'woocommerce-memberships';
@use 'woocommerce-multistep-checkout';
@use 'woocommerce-subscriptions';