@use '../../../../../static/sass/frontend/4-components/icons';
@use '../../../../../static/sass/frontend/5-modules/social-box/main';
@use '../../../../../static/sass/frontend/5-modules/blocks/contact-info';

.ct-contact-info-block {
	cursor: default;

	.ct-icon-container {
		box-sizing: border-box;
	}
}