@use "../../../1-helpers/functions";

.woocommerce-cart-form__contents {

	.actions {
		text-align: right;

		.button {
			@include functions.media-breakpoint-down (sm) {
				width: 100%;
			}
		}
	}

	.coupon {
		display: flex;
		
		@include functions.media-breakpoint-down (sm) {
			flex-direction: column;
			margin-bottom: .8em;
		}

		@include functions.media-breakpoint-up (md) {
			float: left;
		}

		label {
			display: none;
		}

		input {
			--theme-form-field-height: var(--theme-button-min-height);
			
			@include functions.media-breakpoint-down (sm) {
				width: 100%;
				margin-bottom: .8em;
			}

			@include functions.media-breakpoint-up (md) {
				width: 220px;
				margin-inline-end: 8px;
			}
		}
	}
}