@use 'fonts';
@use 'general';
@use 'listing-top';
@use 'badges';
@use 'shop-table';
@use 'shipping';
@use 'buttons';
@use 'select2';
@use 'form-row';
@use 'store-notice';
@use 'order-review';
@use 'dynamic-counter';
@use 'brands';

// header items
@use 'cart-header-element';

// misc
@use 'misc/main';

// entries
@use 'entries/main' as main2;

// product page
@use 'product-page/main' as main3;

// cart page
@use 'cart-page/main' as main4;

// checkout page
@use 'checkout-page/main' as main5;

// account page
@use 'account/main' as main6;

// blocks
@use 'blocks/main' as main7;

// widgets
@use 'widgets/main' as main8;

// integrations
@use 'integrations/main' as main9;
